<select name="drop-down" (change)="onSelect($event.target.value)">
    <option *ngFor="let dropDownOption of dropDownOptions" [value]='dropDownOption'>
        {{dropDownOption}}  
    </option>
</select>