<span class='todo'>
    <input class="todo__checkbox" type='checkbox' ng-model='$ctrl.todo.isCompleted' ng-click='$ctrl.onCheckboxClick()'>
    <ha-input class='todo__input' placeholder='{{$ctrl.placeholderText}}' value='$ctrl.todo.description' is-disable='$ctrl.isDisable'
        ng-init='$ctrl.checkDisable()' on-edit='$ctrl.editDescription(newValue)'></ha-input>
    <ha-button class='todo__edit-button' content='{{$ctrl.textButton}}' ng-click='$ctrl.onButtonClick()'></ha-button>
    <ha-button class='todo__delete-button' content='Delete' ng-click="$ctrl.onDeleteTodoButtonClick()"></ha-button>
</span>