<div class="todo-list">
    <div class="todo-list__title todo-list-title">
        <ha-todo-title class='todo-list-title__input-tirle' placeholder='Todo list name' value='$ctrl.todos.name' on-update='$ctrl.onUpdateTodosNameButtonClick(newTodosName)'></ha-todo-title>
    </div>
    <div class="todo-list__todos" ng-repeat="todo in $ctrl.todos.todos">
        <ha-todo todo="todo" on-delete='$ctrl.onDelete(todo)' on-update='$ctrl.onUpdate(todo)'></ha-todo-input>
    </div>
    <div class="todo-list__add-todo">
        <ha-button content='Plus' ng-click="$ctrl.onAddNewTodoButtonClick()"></ha-button>
    </div>
</div>