<div>
    <div *ngFor="let radioButton of radioButtons; let idx = index">
        <input type="radio" name="radio-group" (click)="onSelect(radioButton)" [value]="radioButton.description">{{radioButton.description}}
    </div>
</div>