<span class='input-title'>
    <ha-input class='input-title__input' placeholder="{{$ctrl.placeholder}}" value="$ctrl.value" is-disable="$ctrl.isDisable" ng-init="$ctrl.checkDisable($ctrl)" on-edit='$ctrl.onEdit(newValue)'></ha-input>
    <ha-button class='input-title__edit-button' content='{{$ctrl.textButton}}' ng-click="$ctrl.onButtonClick($ctrl)"></ha-button>
</span>